body {
    /* background-image: linear-gradient(90deg, rgb(173, 173, 173), rgb(77, 77, 77)), linear-gradient(135deg, rgb(71, 29, 127) 0%, rgb(71, 29, 127) 52%, rgb(99, 59, 126) 52%, rgb(99, 59, 126) 54%, rgb(126, 89, 125) 54%, rgb(126, 89, 125) 56%, rgb(154, 118, 125) 56%, rgb(154, 118, 125) 64%, rgb(181, 148, 124) 64%, rgb(181, 148, 124) 82%, rgb(209, 178, 123) 82%, rgb(209, 178, 123) 100%), linear-gradient(0deg, rgb(71, 29, 127) 0%, rgb(71, 29, 127) 52%, rgb(99, 59, 126) 52%, rgb(99, 59, 126) 54%, rgb(126, 89, 125) 54%, rgb(126, 89, 125) 56%, rgb(154, 118, 125) 56%, rgb(154, 118, 125) 64%, rgb(181, 148, 124) 64%, rgb(181, 148, 124) 82%, rgb(209, 178, 123) 82%, rgb(209, 178, 123) 100%), linear-gradient(45deg, rgb(71, 29, 127) 0%, rgb(71, 29, 127) 52%, rgb(99, 59, 126) 52%, rgb(99, 59, 126) 54%, rgb(126, 89, 125) 54%, rgb(126, 89, 125) 56%, rgb(154, 118, 125) 56%, rgb(154, 118, 125) 64%, rgb(181, 148, 124) 64%, rgb(181, 148, 124) 82%, rgb(209, 178, 123) 82%, rgb(209, 178, 123) 100%);
    background-blend-mode: overlay, overlay, overlay, normal; */

    /* background-image: linear-gradient(45deg, rgb(82, 82, 82), rgb(99, 99, 99)), linear-gradient(90deg, rgb(12, 3, 124) 0%, rgb(12, 3, 124) 63%, rgb(16, 35, 140) 63%, rgb(16, 35, 140) 68%, rgb(19, 67, 156) 68%, rgb(19, 67, 156) 77%, rgb(23, 100, 171) 77%, rgb(23, 100, 171) 86%, rgb(26, 132, 187) 86%, rgb(26, 132, 187) 92%, rgb(30, 164, 203) 92%, rgb(30, 164, 203) 100%), linear-gradient(180deg, rgb(12, 3, 124) 0%, rgb(12, 3, 124) 63%, rgb(16, 35, 140) 63%, rgb(16, 35, 140) 68%, rgb(19, 67, 156) 68%, rgb(19, 67, 156) 77%, rgb(23, 100, 171) 77%, rgb(23, 100, 171) 86%, rgb(26, 132, 187) 86%, rgb(26, 132, 187) 92%, rgb(30, 164, 203) 92%, rgb(30, 164, 203) 100%);
    background-blend-mode: overlay, overlay, normal; */

    background-color: #010058;

    /* background-image: linear-gradient(135deg, rgb(62, 62, 62), rgb(179, 179, 179)), linear-gradient(135deg, rgba(84, 137, 228, 0.5) 0%, rgba(84, 137, 228, 0.5) 51%, rgba(69, 113, 204, 0.5) 51%, rgba(69, 113, 204, 0.5) 58%, rgba(54, 88, 180, 0.5) 58%, rgba(54, 88, 180, 0.5) 61%, rgba(38, 64, 157, 0.5) 61%, rgba(38, 64, 157, 0.5) 63%, rgba(23, 39, 133, 0.5) 63%, rgba(23, 39, 133, 0.5) 75%, rgba(8, 15, 109, 0.5) 75%, rgba(8, 15, 109, 0.5) 100%), linear-gradient(90deg, rgb(84, 137, 228) 0%, rgb(84, 137, 228) 51%, rgb(69, 113, 204) 51%, rgb(69, 113, 204) 58%, rgb(54, 88, 180) 58%, rgb(54, 88, 180) 61%, rgb(38, 64, 157) 61%, rgb(38, 64, 157) 63%, rgb(23, 39, 133) 63%, rgb(23, 39, 133) 75%, rgb(8, 15, 109) 75%, rgb(8, 15, 109) 100%);
    background-blend-mode: overlay, overlay, normal; */
}

.navbar {
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 8px 1px aqua;
}

.navbar-nav .nav-link {
    opacity: .8;
    font-size: 1rem;
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: 2em;
    transition: color 0.3s ease-out;
}

.navbar-nav .nav-link.active {
    transition: all .3s ease;
}

.navbar-nav .nav-link.active {
    color: #010058;
    opacity: 1;
}


.navbar-nav .nav-link:hover {
    color: #010058;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}


#inicio {
    height: 85vh;
    max-width: 140vh;
    color: #ffffff;

    /* min-height: 715px; */
}

#inicio h4 {
    font-family: 'Rubik Mono One', sans-serif;
}

#inicio p {
    font-size: 1.1rem;
}

/* .arrow {
    font-size: 10rem;
    color: #ffffff;
    transition: color 0.5s, transform 0.5s ease-out;
    cursor: pointer;
}

.arrow:hover {
    color: #ff007f;
    transform: translateY(25px);
} */

/* @media (max-width: 800px) {
    .arrow {
        display: none;
    }
} */


.badge {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 20px;
    background: linear-gradient(135deg, #e0ffe0, #ccffcc);
    border: 2px solid #4caf50;
    color: #307933;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}


.badge:hover {
    transform: scale(1.05);
}

.social-pill {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
}

.social-pill:hover {
    background-color: black;
    color: white;
}

.social-pill .icon {
    margin-right: 10px;
}

#experiencia {
    /* min-height: 315px; */
    scroll-margin-top: 100px;
    max-width: 140vh;
    /* max-width: 1100px; */
}



.timeline {
    position: relative;
    padding: 20px 0;
    margin-top: 20px;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #dee2e6;
    left: 2%;
    margin-left: -1px;
}

.timeline .timeline-item {
    position: relative;
    margin-bottom: 55px;
}


.timeline .timeline-item:after {
    clear: both;
}

.timeline .timeline-item .timeline-panel {
    position: relative;
    padding: 18px;
    left: 6%;
    text-align: left;
    border: 1px solid #dee2e6;
    border-radius: 2px;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.175);
}


.timeline .timeline-item .timeline-image {
    position: absolute;
    z-index: 100;
    top: 13%;
    left: 0.55%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background: #ffc107;
}

.exp-descripcion {
    padding-left: 100px;
}


@media (max-width: 990px) {
    .timeline .timeline-item .timeline-image {
        left: 0%;
        width: 26px;
        height: 26px;
        border: 6px solid #e9ecef;
    }

    .timeline .timeline-item .timeline-panel {
        left: 8%;
    }
}

@media (max-width: 770px) {
    .exp-descripcion {
        margin-top: 25px;
        padding-left: 45px;
    }

    .timeline .timeline-item .timeline-image {
        left: -0.6%;
    }
}

@media (max-width: 600px) {
    .timeline .timeline-item .timeline-panel {
        left: 10%;
    }

    .timeline .timeline-item .timeline-image {
        left: -0.5%;
    }
}

@media (max-width: 575px) {
    .timeline .timeline-item .timeline-panel:before {
        position: absolute;
        top: 6px;
        left: -8.9%;
        display: inline-block;
        border-top: 25px solid transparent;
        border-right: 25px solid #ccc;
        border-left: 0 solid #ccc;
        border-bottom: 25px solid transparent;
        content: " ";
    }

    .timeline .timeline-item .timeline-image {
        display: none;
    }

    .timeline:before {
        display: none;
    }
}

@media (max-width: 500px) {
    .timeline .timeline-item .timeline-panel:before {
        left: -8.9%;
        border-top: 20px solid transparent;
        border-right: 20px solid #ccc;
        border-bottom: 20px solid transparent;
    }
}


#habilidades {
    /* background: linear-gradient(135deg, #002b4d, #005cbf, #002b4d, #005cbf); */
    scroll-margin-top: 100px;
    max-width: 140vh;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #ffffff;
}

#habilidades .hab-icono {
    border: 6px solid #7abaff;
    border-radius: 100px;
    background-color: #fff;
    transition: all .5s ease;
}

#habilidades .hab-icono:hover {
    transform: scale(1.1);
    border: 6px solid #ffd754;
}


#proyectos {
    /* background: linear-gradient(45deg, #002b4d, #005cbf, #002b4d, #005cbf); */
    scroll-margin-top: 100px;
    max-width: 140vh;
}

.proyecto-container {
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
}

.proyecto-container:hover img {
    opacity: 0.94;
    border-radius: 20px;
    transform: scale(1.02);
}

.proyecto-container img {
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.proyectos-links-container a {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.proyectos-links-container a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}



#contacto {
    scroll-margin-top: 100px;
    max-width: 140vh;
    border-radius: 20px;
    box-shadow: 0 4px 20px aqua;
    background-color: white;
}



footer {
    /* background: linear-gradient(45deg, #002b4d, #005cbf, #002b4d, #005cbf); */
    height: 8vh;
}

@media (max-width: 800px) {
    footer {
        height: 0px;
    }
}


.section-title p {
    font-size: 16px;
    color: #777;
}


.info-box i {
    font-size: 48px;
    color: #010058;
}

.info-box h3 {
    font-size: 24px;
    color: #333;
    margin-top: 15px;
}

.info-box p {
    font-size: 16px;
    color: #777;
}

.social-links i {
    margin-left: 15px;
}

.social-links i:hover {
    color: #e74c3c;
}

#button {
    background-color: #010058;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #e74c3c;
}